<%= render("layouts/navbar") %>
<%= stylesheet_link_tag "main_button" %>
<main>
    <form class="button_to" method="get" action="/loading">
        <button class="button" type="submit">Play</button>
    </form>
    <form class="button_to" method="get" action="/edit_labyrinth">
        <button class="button" type="submit">Edit labyrinth</button>
    </form>
</main>
