<%= render("layouts/navbar") %>
<div class="page">
  <div class="form">
    <%= button_to 'Create', '/create_lobby', method: :get %>
    &nbsp
    <%= button_to 'Play', '/play', method: :get %>
    &nbsp
    <%= button_to 'Cancel', '/cancel', method: :get %>
  </div>
</div>