<h3>Edit labyrinth</h3>
<% @width = "512" %>
<% @height = "512" %>

<div data-controller="edit">
  <canvas id="myCanvas" width=<%= @width %> height=<%= @height %>></canvas>
  <%= button_to 'Back', '/menu', method: :get %>
  <button id='clear'>Clear</button>
  <button id='reset'>Reset</button>
  <button id='save'>Save</button>
</div>
