<h3>GAME</h3>
<% @width = "512" %>
<% @height = "512" %>

<div class="labyrinths">
  <p>lol</p>
  <div data-controller="main">
    <canvas id="myCanvas" width=<%= @width %> height=<%= @height %>></canvas>
  </div>

  <div data-controller="main">
    <canvas id="myCanvas2" width=<%= @width %> height=<%= @height %>></canvas>
  </div>
</div>
