.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-block{
    font-family: 'Lucida Sans',  Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-indent: 30px;
    width: 50%;
    margin: 1em 0 0;
}

body {
    background: #222629;
    color: #fff;
}

.labyrinths {
    display: flex;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

canvas {
    background: #222629;
    margin: 32px;
}

.form-field{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 5px;
}
